<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Chrome DevTools</title>
  <link rel="shortcut icon" href="icon/logo.png">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="lib/bower_components/angular-material/angular-material.css">

  <script src="lib/bower_components/angular/angular.js"></script>
  <script src="lib/bower_components/angular-animate/angular-animate.js"></script>
  <script src="lib/bower_components/angular-aria/angular-aria.js"></script>
  <script src="lib/bower_components/angular-material/angular-material.js"></script>
  <script src="lib/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="lib/bower_components/ng-group/src/ngGroup.js"></script>

  <script src="app.js"></script>
</head>

<body ng-controller="home">

  <section class="targets" ng-show="!devtoolsUrl">

    <md-tabs class="md-primary" md-selected="targetsFilterSelectedIndex" md-stretch-tabs="always">
      <md-tab id="tab1" md-on-select="setTargetFilter('apps')" aria-controls="tab1-content">Apps</md-tab>
      <md-tab id="tab2" md-on-select="setTargetFilter('pages')" aria-controls="tab2-content" >Pages</md-tab>
      <md-tab id="tab3" md-on-select="setTargetFilter('background_page')" aria-controls="tab3-content">Extensions</md-tab>
      <md-tab id="tab4" md-on-select="setTargetFilter('webviews')" aria-controls="tab4-content">WebViews</md-tab>
    </md-tabs>

    <md-list class="target-list">
      <div class="no-targets" ng-if="targets.toArray().length === 0">
        <div class="inner">
          <h2>We couldn't find any targets.</h2>
          <img src="img/ghost.svg" width="300"/>
          <p>Are you sure you are running Chrome or any other browser?</p>
        </div>
      </div>

      <md-item ng-repeat="targetGroup in targets.toArray() | regex:'type': filter | orderBy:'type':true | groupBy:'group':'peopleByHome' ">
        <h3>{{targetGroup.group}}</h3>
      
          <md-item ng-repeat="target in targetGroup.items">
              <md-item-content ng-click="connect(target)">
                <div class="md-tile-left icon">
                    <img ng-src="{{target.faviconUrl}}" class="face" alt="{{item.who}}">
                </div>
                <div class="md-tile-content">
                  <h3>{{target.title}}</h3>
                  <h4>{{target.type}} - {{target.url}}</h4>
                  <p>{{target.description}}</p>
                  
                </div>                
              </md-item-content>

              <md-divider ng-if="!$last"></md-divider>
          </md-item>

          <md-divider></md-divider>
      </md-item>
    </md-list>
  </section>

  <section class="devtool" ng-show="devtoolsUrl">
    <md-toolbar class="toolbar md-accent md-default-theme">
      <div class="container" layout="row" layout-align="start center">
        <div>
          <md-button class="md-fab md-default-theme back" aria-label="Profile" ng-click="showTargets()">
            <img src="img/ic_arrow_back_24px.svg" width="20" />
          </md-button>
        </div>

        <div class="title" flex>
            {{currentTarget.title}}
        </div>
      </div>
    </md-toolbar>

    <devtools src="{{devtoolsUrl | trustAsResourceUrl}}">
  </section>

</body>
</html>
